<table class="table table-sm table-bordered border-primary table-responsive caption-top vertical-align: middle;" style="text-align: center;">
  <caption>Caractéristiques</caption>
  <thead>
    <tr class="table-primary table-bordered border-primary">
      <th scope="col">FOR</th>
      <th scope="col">DEX</th>
      <th scope="col">CON</th>
      <th scope="col">INT</th>
      <th scope="col">SAG</th>
      <th scope="col">CHA</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{pnj.archetype.forc+pnj.race.forc}}</td>
      <td>{{pnj.archetype.dex+pnj.race.dex}}</td>
      <td>{{pnj.archetype.con+pnj.race.con}}</td>
      <td>{{pnj.archetype.inte+pnj.race.inte}}</td>
      <td>{{pnj.archetype.sag+pnj.race.sag}}</td>
      <td>{{pnj.archetype.cha+pnj.race.cha}}</td>
    </tr>
  </tbody>
</table>
